.ContactUs form {
	width: 45%;
    margin: auto;
    padding: 2%;
}

.ContactUs .TextBox {
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
    background-color: var(--clr400);
}

.TextBox label,
.TextBox textarea,
.TextBox input {
    color: var(--clr600);
}

.ContactUs form span {
    color: red;
}

