.Navbar {
  padding: 1%;
  height: 100%;
  position: relative;
}

.Scrolled {
  background-color: hsla(0, 0%, 0%, 0.4);
}

.Navbar .active {
  text-decoration: underline;
}

.Navbar .Logo {
  width: 6%;
}

.Navbar .Logo  img {
  width: 100%;
}

@media only screen and (max-width: 800px){
  .Navbar .RegularNavbar{
    display: none;
  }
  
  .Navbar .MobileNavbar {
    display: flex;
  }
  
}



