.Navbar {
    padding: 1%;
    height: 100%;
    display: flex;
    align-items: center;
}

.Scrolled {
    background-color: hsla(0, 0%, 0%, 0.4);
}

.Navbar .Logo {
    width: 3%;
}

.Navbar .Logo > img {
    width: 100%;
}

.Navbar .Links {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.Navbar a {
    color: var(--clr000);
}

.Navbar .SearchComponent {
    position: absolute;
    right: 20%;
}

.Navbar .AuthMenu {
    position: absolute;
    right: 6%;
}

.Navbar .AuthIcon {
    position: absolute;
    right: 2%;
    cursor: pointer;
}


