.Navbar {
  padding: 1%;
  height: 100%;
  position: relative;
}

.Scrolled {
  background-color: hsla(0, 0%, 0%, 0.4);
}

.Navbar .active {
  text-decoration: underline;
}

.Navbar .Logo {
  width: 3%;
}

.Navbar .Logo  img {
  width: 100%;
}



