.Layout {
	display: grid;
    grid-template-rows: 5vh 80vh min-content 10vh;
    position: relative;
}

.Layout > nav {
    position: sticky;
    top: 0;
    z-index: 100;
}

.Layout > header {
    width: 100%;
    height: calc(100% + 5vh);
    position: relative;
    top: -5vh;
}

.Layout > footer {
    padding: 2%;
}
