.ResponsiveCarousel {
    width: 70vw;
    aspect-ratio: 3;
}

.ResponsiveCarousel button {
    position: absolute;
}

.ResponsiveCarousel .react-multiple-carousel__arrow--right {
    right: 1%;
    bottom: 50%;
}

.ResponsiveCarousel .react-multiple-carousel__arrow--left {
    left: 0;
    bottom: 50%;
}
