.Header {
	height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    top: 0;
    background-image: url("../../../Assets/Images/Header/Header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    display: grid;
    justify-content: center;
    align-items: center;
}

.Header > h1 {
    color: var(--clr000);
    font-size: min(4vw, 3.5em);
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.Header > .SearchComponent {
    width: 170%;
    position: relative;
    bottom: 5%;
}

@media only screen and (max-width: 900px) {
    .Header > .SearchComponent {
        top: 12vw;
        width: 80%;
        left: 25%;
    }

    .Header > h1 {
        font-size: max(8vw, 2.3em);
        /* font-size: 8vw; */
    }
}
