.AuthMenu {
	display: flex;
	align-items: center;
}

.AuthMenu > svg {
	position: relative;
	
}

.AuthMenu ul > li {
	color: white;
}

.AuthMenu .MuiOutlinedInput-root {
	padding: 0;
	margin: 0 10px;
}
