.UpdateVacation form {
	width: 45%;
    margin: auto;
    padding: 5%;
    border: 1px solid var(--clr400);
}

.UpdateVacation .TextBox {
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
}

.UpdateVacation select {
    color: black;
}