.VacationCard {
    width: inherit;
    background-color:  var(--clr400);
    padding: 20px;
    display: flex;
    position: relative;
    gap: 15px;
}

.VacationCard .Image {
    width: 50%;
    aspect-ratio: 1;
}

.VacationCard .Image img {
    width: 100%;
    aspect-ratio: 1;
}

.VacationCard .Info {
    text-align: left;
    width: 50%;
    position: relative;
}

.VacationCard .Info span {
    font-size: 0.7em;
}

.VacationCard .Time {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.VacationCard .Time svg{
    color: var(--clr600);
}

.VacationCard .Time p {
    padding: 0;
    margin: 0;
}

.VacationCard div[role="group"] {
    display: inline-block;
    position: absolute;
    bottom: 20px;
    right: 0;
}