.VacationCard {
    width: inherit;
    border: 2px solid var(--clr600);
    padding: 20px;
    display: flex;
    gap: 20px;
    position: relative;
}

.VacationCard .Image {
    width: 50%;
    aspect-ratio: 1;
}

.VacationCard .Image img {
    width: 100%;
    aspect-ratio: 1;
}

.VacationCard .Info {
    text-align: left;
    width: 50%;
    position: relative;
}

.VacationCard .Info span {
    font-size: 0.7em;
}

.VacationCard .Time {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.VacationCard div[role="group"] {
    margin-left: 50%;
    transform: translateX(-5%);
    position: absolute;
    bottom: 20px;
}