.Navlinks {
    width: 100%;
    display: flex;
    align-items: center;
}

.Navlinks .Links {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.Navlinks a,
.Navlinks span {
    font-weight: 500;
}

.Navlinks a {
    color: var(--clr000);
    transition: all 500ms;
}

.Navlinks a:hover {
    font-size: 1.2em;
}

.Navlinks .SearchComponent {
    width: 45%;
}

.Navlinks .SearchComponent input {
    font-size: 1em;
}

.Navlinks .LeftNavSide {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
}
