.Navlinks {
    width: 100%;
    display: flex;
    align-items: center;
}

.Navlinks .Links {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.Navlinks a,
.Navlinks span {
    font-weight: 500;
}

.Navlinks a {
    color: var(--clr000);
    transition: all 500ms;
}

.Navlinks a:hover {
    font-size: 1.2em;
}

.Navlinks .SearchComponent {
    width: 200px;
    position: absolute;
    right: 250px;
}

.Navlinks .SearchComponent input {
    font-size: 1em;
}

.Navlinks .AuthMenu {
    position: absolute;
    right: 10px;
}

@media only screen and (max-width: 1300px){
    .Navlinks .Links {
        width: 50%;
    }
}