.CarouselItem {
	width: 97%;
    aspect-ratio: 1;
    box-sizing: border-box;
    position: relative;
    color: var(--clr600);
}

.CarouselItem span {
    color: var(--clr600);
    font-weight: 500;
}

.CarouselItem p {
    font-weight: 800;
}

.CarouselItem img {
    width: 100%;
    aspect-ratio: 1.3;
}

.CarouselItem > div {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: var(--clr400);
    height: 15%;
    left: 0;
    right: 0;
    bottom: 13%;
    /* padding: 2%; */
}

.CarouselItem .Country {
    flex: 2;
}
.CarouselItem .Icons,
.CarouselItem .Price {
    flex: 1;
}

.CarouselItem .Price {
    font-weight: 600;
}

@media only screen and (max-width: 1250px){
    .CarouselItem .LikeAndCart svg {
        font-size: 1.2em;
    }
}