:root {
  --font: 'Poppins', sans-serif;
  --clr600: hsl(194, 96%, 22%);
  --clr400: hsl(194, 42%, 90%);
  --clr000: hsl(0, 100%, 100%);
}


body {
  margin: 0;
  padding: 0;
  font-family: var(--font);
  text-align: center;
  height: 100%;
}

h1, h2, h3 {
  color: var(--clr600);
}

a {
  text-decoration: none;
}

input {
  border-radius: 25vh;
  border: none;
  /* text-align: center; */
}

.SearchIcon {
  cursor: pointer;
}
